<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ZDWP" connectionString="Data Source=.;Initial Catalog=ENTERPRISES_SUPERWORKFLOW_new;uid=sa;pwd=123456;CONNECT TIMEOUT=60; MAX POOL SIZE =300; MIN POOL SIZE =0;Persist Security Info=false;Integrated Security=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="31E243222B5A2A16CADD597CB3DB5D00B30C8DB460F0F2661E20E958CAE53357F20087ACB8E44A5A4F764A7F8455F71E61042F91E48B9E1581340C1BFF320390" decryptionKey="A2B4DF8F8EB9E6F0A01C55B800E1BC3D52BE2459DA7D4016F3F3BD2932D320B9" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>